@{
    ViewData["Title"] = "Home | Reservas";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Bem-Vindo!!!</h1>
    <p class="fw-bold">
        Você procura por bons hotéis e estadias?? Você encontrá-os aqui, não nos sites vizinhos de hospedagem, eles são ruins...
    </p>
    <p class="fw-bold">
        Hospede-se e aproveite, não que aproveitar seja antônimo de hospedagem. Aliás, por mais que o radical de hospedagem seja "hosped", o sufixo "agem" simboliza a gigantesca experiência que terá aqui! 
    </p>
    <p class="fw-bold">
        HOTEL É TRIVAGO, O TEL É TELEFONE, E 10 É NOSSO TRABALHO!
    </p>

</div>
